<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<sectionGroup name="devExpress">
			<section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v17.2, Version=17.2.13.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v17.2, Version=17.2.13.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v17.2, Version=17.2.13.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v17.2, Version=17.2.13.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v17.2, Version=17.2.13.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
		<add key="aspnet:MaxHttpCollectionKeys" value="995000"/>
		<add key="aspnet:MaxJsonDeserializerMembers" value="995000"/>
		<add key="SmtpUser" value="tramitesdacmi@mincultura.gov.co"/>
		<add key="SmtpPass" value="juliAna*87"/>
		<add key="SmtpHost" value="smtp.office365.com"/>
		<add key="SmtpPort" value="587"/>
		<add key="SmtpEnabledSSL" value="true"/>
		<add key="SmtpCopy" value="cgarzon@mincultura.gov.co"/>
		<add key="FolderURL" value="/uploads/"/>
		<add key="MinculturaAuthWSKey" value="098#7UI#OPPDFG"/>
		<add key="NOTIFICATIONS_MAIL" value="lquiceno@mincultura.gov.co"/>
		<add key="ADD_USER_MAIL_SUBJECT_MESSAGE" value="Creada nueva cuenta en el Portal del Ministerio de Cultura"/>
		<add key="ADD_USER_MAIL_SUBJECT_BODY" value="Usted ha creado una nueva cuenta en el Portal Web del Ministerio de Cultura, para acceder por favor use su correo electrónico como nombre de usuario y la contraseña: "/>
		<add key="CREATE_REQUEST_MAIL_SUBJECT" value="Notificación del Trámite de Cinematografía "/>
		<add key="CREATE_REQUEST_MAIL_BODY_SALUDO" value="Cordial saludo "/>
		<add key="CREATE_REQUEST_MAIL_BODY_MENSAJE" value="El Ministerio de Cultura le informa que su solicitud de reconocimiento como obra nacional ha sido creada correctamente y recibirá respuesta sobre su trámite por este medio. "/>
		<add key="CREATE_REQUEST_MAIL_BODY_FIN" value="Gracias por usar nuestro sistema."/>
		<add key="CREATE_REQUEST_ADMIN_MAIL_SUBJECT" value="Notificación del Trámite de Cinematografía - Nueva solicitud"/>
		<add key="CREATE_REQUEST_ADMIN_MAIL_BODY_MENSAJE" value="Ha sido creada una nueva solicitud del Trámite de Solicitud de Reconocimiento Como Obra Nacional del Ministerio de Cultura ."/>
		<add key="SEND_CLARIFICATION_REQUEST_MAIL_SUBJECT" value="Notificación del Trámite de Cinematografía "/>
		<add key="SEND_CLARIFICATION_REQUEST_MAIL_BODY_SALUDO" value="Cordial saludo "/>
		<add key="SEND_CLARIFICATION_REQUEST_MAIL_BODY_MENSAJE" value="El Ministerio de Cultura informa que han sido solicitadas aclaraciones relacionadas a su solicitud de reconocimiento como obra nacional. Para consultarlas, ingrese al aplicativo Cineproducto con su usuario y contraseña. "/>
		<add key="SEND_CLARIFICATION_REQUEST_MAIL_BODY_FIN" value="Gracias por usar nuestro sistema."/>
		<add key="SEND_CLARIFICATION_MAIL_SUBJECT" value="Notificación del Trámite de Cinematografía "/>
		<add key="SEND_CLARIFICATION_MAIL_BODY_SALUDO" value="Cordial saludo "/>
		<add key="SEND_CLARIFICATION_MAIL_BODY_MENSAJE" value="El Ministerio de Cultura informa que la respuesta a aclaraciones de su solicitud de reconocimiento como obra nacional han sido enviadas correctamente y recibirá respuesta por este medio. "/>
		<add key="SEND_CLARIFICATION_MAIL_BODY_FIN" value="Gracias por usar nuestro sistema."/>
		<add key="SEND_CLARIFICATION_ADMIN_MAIL_SUBJECT" value="Notificación del Trámite de Cinematografía - Envío de Aclaraciones"/>
		<add key="SEND_CLARIFICATION_ADMIN_MAIL_BODY_MENSAJE" value="Han sido enviadas aclaraciones del Trámite de Solicitud de Reconocimiento Como Obra Nacional del Ministerio de Cultura."/>
		<add key="MAIL_FIRMA" value="IMPORTANTE: Este correo es informativo, favor no responder a esta dirección de correo, ya que no se encuentra habilitada para recibir mensajes."/>
		<add key="APPROVED_MAIL_SUBJECT" value="Notificación del Trámite de Cinematografía "/>
		<add key="APPROVED_MAIL_BODY_SALUDO" value="Cordial saludo "/>
		<add key="APPROVED_MAIL_BODY_MENSAJE" value="El Ministerio de Cultura informa que su solicitud de reconocimiento como obra nacional ha sido APROBADA, por lo que lo invitamos a consultar su Certificado de Producto Nacional (CPN) ingresando al aplicativo Cineproducto con su usuario y contraseña. &lt;br&gt; Si desea evaluar nuestro servicio lo invitamos a diligenciar una breve encuesta https://forms.office.com/r/nnZ7UHd6kU"/>
		<add key="APPROVED_BODY_MENSAJE" value="El Ministerio de Cultura informa que su solicitud de reconocimiento como obra nacional ha sido APROBADA, por lo que lo invitamos a consultar su Certificado de Producto Nacional (CPN) ingresando al aplicativo Cineproducto con su usuario y contraseña. &lt;br&gt; Si desea evaluar nuestro servicio lo invitamos a diligenciar una breve encuesta https://forms.office.com/r/nnZ7UHd6kU"/>
		<add key="APPROVED_MAIL_BODY_FIN" value="Nota: Este correo no confirma aprobación o negación de la solicitud."/>
		<add key="REJECTED_MAIL_SUBJECT" value="Notificación del Trámite de Cinematografía "/>
		<add key="REJECTED_MAIL_BODY_SALUDO" value="Cordial saludo "/>
		<add key="REJECTED_MAIL_BODY_MENSAJE" value="El Ministerio de Cultura informa que su solicitud de reconocimiento como obra nacional ha sido RECHAZADA, con fundamento en el artículo 2.10.1.4 del Decreto 1080 de 2015 modificado por el Decreto 525 de 2021, toda vez que el requerimeinto emitido por el Ministerio de Cultura no ha sido debidamente subsanado. Lo invitamos a consultar las razones de rechazo ingresando al aplicativo Cineproducto con su usuario y contraseña. Tenga en cuenta que, en caso de tener interés en ello, podrá solicitar nuevamente el reconocimiento de la nacionalidad de esta obra cinematográfica, para lo cual deberá presentar una nueva solicitud y allegar la información y documentos allí requeridos en consonancia con la Ley 397 de 1997, el Decreto 1080 de 2015 y la Resolución 1021 de 2016 del Ministerio de Cultura. &lt;br&gt; Si desea evaluar nuestro servicio lo invitamos a diligenciar una breve encuesta https://forms.office.com/r/nnZ7UHd6kU "/>
		<add key="REJECTED_BODY_MENSAJE" value="El Ministerio de Cultura informa que su solicitud de reconocimiento como obra nacional ha sido RECHAZADA, con fundamento en el artículo 2.10.1.4 del Decreto 1080 de 2015 modificado por el Decreto 525 de 2021, toda vez que el requerimeinto emitido por el Ministerio de Cultura no ha sido debidamente subsanado. Lo invitamos a consultar las razones de rechazo ingresando al aplicativo Cineproducto con su usuario y contraseña. Tenga en cuenta que, en caso de tener interés en ello, podrá solicitar nuevamente el reconocimiento de la nacionalidad de esta obra cinematográfica, para lo cual deberá presentar una nueva solicitud y allegar la información y documentos allí requeridos en consonancia con la Ley 397 de 1997, el Decreto 1080 de 2015 y la Resolución 1021 de 2016 del Ministerio de Cultura. &lt;br&gt; Si desea evaluar nuestro servicio lo invitamos a diligenciar una breve encuesta https://forms.office.com/r/nnZ7UHd6kU"/>
		<add key="REJECTED_MAIL_BODY_FIN" value="Nota: Este correo no confirma aprobación o negación de la solicitud."/>
		<add key="CANCELED_MAIL_SUBJECT" value="Notificación del Trámite de Cinematografía "/>
		<add key="CANCELED_MAIL_BODY_SALUDO" value="Cordial saludo "/>
		<add key="CANCELED_BODY_MENSAJE" value="El Ministerio de Cultura informa que su solicitud de reconocimiento como obra nacional ha sido RECHAZADA, con fundamento en el artículo 2.10.1.4 del Decreto 1080 de 2015 modificado por el Decreto 525 de 2021, toda vez que el requerimeinto emitido por el Ministerio de Cultura no ha sido debidamente subsanado. Lo invitamos a consultar las razones de rechazo ingresando al aplicativo Cineproducto con su usuario y contraseña. Tenga en cuenta que, en caso de tener interés en ello, podrá solicitar nuevamente el reconocimiento de la nacionalidad de esta obra cinematográfica, para lo cual deberá presentar una nueva solicitud y allegar la información y documentos allí requeridos en consonancia con la Ley 397 de 1997, el Decreto 1080 de 2015 y la Resolución 1021 de 2016 del Ministerio de Cultura."/>
		<add key="CANCELED_MAIL_BODY_FIN" value="Gracias por usar nuestro sistema."/>
		<add key="NOTIFICATION_DATE_MESSAGE_SUBJECT" value="Notificación del Trámite de Cinematografía "/>
		<add key="NOTIFICATION_DATE_MESSAGE_GREETING" value="Cordial saludo "/>
		<add key="NOTIFICATION_DATE_MESSAGE_MESSAGE" value="El Ministerio de Cultura informa que su solicitud de reconocimiento como obra nacional ha sido APROBADA, por lo que lo invitamos a consultar su Certificado de Producto Nacional (CPN) ingresando al aplicativo Cineproducto con su usuario y contraseña.."/>
		<add key="NOTIFICATION_DATE_MESSAGE_END" value="Gracias por usar nuestro sistema."/>
		<add key="NOTIFICATION_SECOND_PARAGRAPH" value=""/>
		<add key="pathArchivosTemp" value="temp"/>
		<add key="pathArchivosTempFormulario" value="C:\Kuxan\GIT Producto\CINETRAMITE_NET\Application_final_version_code\temp"/>
		<add key="pathArchivosPermanente" value="files2"/>
	</appSettings>
	<connectionStrings>
		<add name="cineConnectionString" connectionString="Data Source=144.126.151.13,19889;Initial Catalog=cine;Persist Security Info=True;User ID=sa;Password=sElectra69l" providerName="System.Data.SqlClient"/>
		<add name="cineEntities" connectionString="metadata=res://*/Data.Modelo.csdl|res://*/Data.Modelo.ssdl|res://*/Data.Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=144.126.151.13,19889;initial catalog=cine;persist security info=True;user id=sa;password=sElectra69l;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
		<add name="cineEntities2" connectionString="metadata=res://*/Data.Modelo.csdl|res://*/Data.Modelo.ssdl|res://*/Data.Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mckansa;initial catalog=cine;persist security info=True;user id=dbusr_cineproducto;password=C1neProducto;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
		<add name="cineConnectionString2" connectionString="Data Source=mckansa;Initial Catalog=cine;Persist Security Info=True;User ID=dbusr_cineproducto;Password=C1neProducto" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<!--
		For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

		The following attributes can be set on the <httpRuntime> tag.
			<system.Web>
				<httpRuntime targetFramework="4.6.2" />
			</system.Web>
	-->
	<system.web>
		<globalization culture="es-co" uiCulture="es-co"/>
		<compilation debug="true" defaultLanguage="c#" explicit="false" maxBatchGeneratedFileSize="2147483647" maxBatchSize="2147483647"
					 numRecompilesBeforeAppRestart="2147483647" optimizeCompilations="true" targetFramework="4.6.2">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
			
			
			
			
			
		</compilation>
		<httpRuntime targetFramework="4.6.2" maxRequestLength="5242881" requestPathInvalidCharacters="" enableVersionHeader="false" relaxedUrlToFileSystemMapping="true"/>
		<authentication mode="Forms"/>
		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
			</providers>
		</membership>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
			</providers>
		</roleManager>
		<pages enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
		</pages>
		<httpModules>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.2, Version=17.2.13.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
		</httpModules>
		<httpHandlers>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.2, Version=17.2.13.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" validate="false"/>
			<add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v17.2, Version=17.2.13.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false"/>
		</httpHandlers>
	</system.web>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<clear/>
				<add name="X-UA-Compatible" value="IE=9"/>
				<add name="Content-Security-Policy" value="upgrade-insecure-requests"/>
			</customHeaders>
		</httpProtocol>
		<modules runAllManagedModulesForAllRequests="true">
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.2, Version=17.2.13.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
		</modules>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.2, Version=17.2.13.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode"/>
			<add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v17.2, Version=17.2.13.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode"/>
		</handlers>
		<staticContent>
			<mimeMap fileExtension=".*" mimeType="applications/octet-stream"/>
		</staticContent>
	</system.webServer>
	<system.net>
		<defaultProxy useDefaultCredentials="true"/>
		<mailSettings>
			<smtp from="tramitesdacmi@mincultura.gov.co">
				<network host="smtp.office365.com" userName="tramitesdacmi@mincultura.gov.co" password="juliAna*87" port="587" enableSsl="true"/>
			</smtp>
		</mailSettings>
	</system.net>
	<devExpress>
		<themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies="" baseColor="" font=""/>
		<compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true"/>
		<settings accessibilityCompliant="false" bootstrapMode="" doctypeMode="Html5" rightToLeft="false" checkReferencesToExternalScripts="true" protectControlState="true" ieCompatibilityVersion="edge"/>
		<errors callbackErrorRedirectUrl=""/>
	</devExpress>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
