<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="17.1.1.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net45" />
  <package id="Xceed.Document.NET" version="2.5.23177.2123" targetFramework="net45" />
  <package id="Xceed.Pdf" version="2.5.23177.2123" targetFramework="net45" />
  <package id="Xceed.Words.NET" version="2.5.23177.2123" targetFramework="net45" />
</packages>